ul{
    list-style-type: none;
    overflow: hidden;
    background-color: brown;
    color: white;
    font-size: 20px;
}

li{
    float: left;
    padding: 15px;
}

l1:hover{
    background-color: blue;
}